---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Pricing from "../components/Pricing.astro";
---

<Layout>
  <Header />
  <Hero />
  <Pricing />
  <div
    class="fixed inset-0 pointer-events-none bg-repeat [background-size:128px] opacity-5 z-50"
    style="background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png)"
  >
  </div>
</Layout>
