---
---

<nav class="fixed top-0 w-full h-16 z-40 flex items-center justify-center">
  <div class="relative h-16 flex items-center justify-between w-full px-5 max-w-6xl">
    <div class="flex gap-2 items-center text-sm leading-4 font-medium">
      <a href="/" class="p-0.5 size-8">
        <img src="/favicon.svg" alt="icon-logo-qris" />
      </a>
    </div>
    <button
      class="h-8 bg-emerald-500 px-3 py-1.5 text-white rounded-lg active:scale-95 cursor-pointer transition-all z-50 text-sm"
    >
      Iniciar Sesión
    </button>
  </div>
</nav>
