<section class="w-full h-full flex items-center justify-center flex-col gap-2">
  <div class="landing-page flex items-center justify-center flex-col gap-2">
    <h1 class="title">
      <p
        class="text-6xl font-semibold text-neutral-800 max-w-2xl"
      >
        <span>Controla</span>
        <span>tus</span>
        <span>facturas</span>
      </p>
      <p
        class="text-6xl text-center font-semibold max-w-2xl leading-[74px]"
      >
        <span
          class="bg-gradient-to-t from-emerald-600 to-green-500 text-transparent bg-clip-text"
          >Simplifica</span
        >
        <span
          class="bg-gradient-to-t from-emerald-600 to-green-500 text-transparent bg-clip-text"
          >tu</span
        >
        <span
          class="bg-gradient-to-t from-emerald-600 to-green-500 text-transparent bg-clip-text"
          >gestión</span
        >
      </p>
    </h1>
    <p class="subtitle pt-2 text-center text-neutral-400 font-medium max-w-md">
      Optimiza el control de tus comprobantes fiscales de forma rápida, segura y
      sin complicaciones.
    </p>
  </div>
  <div>
    <button>
      
    </button>
    <button></button>
  </div>
</section>
<script>
  import { animate, onScroll, utils } from "animejs";

  animate(".title span", {
    y: [50, 0],
    opacity: [0, 1],
    delay: (_, i) => i * 80,
    ease: "outExpo",
  });

  animate(".subtitle", {
    y: [20, 0],
    opacity: [0, 1],
    delay: 800,
    ease: "outExpo",
  });

  utils.$(".landing-page").forEach(($square) => {
    animate($square, {
      y: "6rem",
      opacity: 0,
      ease: "linear",
      alternate: true,
      // ease: 'inOutQuad',
      autoplay: onScroll({
        container: "body",
        sync: 1,
        enter: "max bottom",
        leave: "min top",
      }),
    });
  });
</script>
