<section class="w-full h-full flex items-center justify-center">
  <div class="w-full max-w-6xl px-5 flex flex-col items-center gap-8">
    <!-- Toggle Button -->
    <div
      class="relative flex items-center mb-6 bg-zinc-300 p-1 rounded-xl select-none"
    >
      <input
        id="billingPeriod1"
        type="radio"
        name="billingPeriod"
        value="mensual"
        checked
        class="peer/mensual hidden"
      />
      <label
        for="billingPeriod1"
        class="peer-checked/mensual:text-neutral-200 text-neutral-600 text-sm h-8 w-20 flex items-center justify-center z-10 cursor-pointer transition-all duration-300"
      >
        Mensual
      </label>
      <input
        id="billingPeriod2"
        type="radio"
        name="billingPeriod"
        value="anual"
        class="peer/anual hidden"
      />
      <label
        for="billingPeriod2"
        class="peer-checked/anual:text-neutral-200 text-neutral-600 text-sm h-8 w-20 flex items-center justify-center z-10 cursor-pointer transition-all duration-300"
      >
        Anual
      </label>
      <span
        class="absolute w-20 h-8 bg-neutral-600 left-1 top-1 rounded-lg peer-checked/anual:translate-x-full transition-all duration-300"
      ></span>
    </div>

    <div class="w-full flex items-center gap-8">
      <!-- Plan Gratis -->
      <div class="w-full h-[470px] p-6 rounded-2xl">
        <h3 class="text-neutral-500 text-sm font-semibold mb-4">Gratis</h3>
        <p class="text-neutral-800">
          <span class="text-5xl font-semibold">$0</span>
          <span class="font-bold text-sm">/siempre</span>
        </p>
        <p class="text-sm text-neutral-600 font-semibold mt-2">
          Optimiza tu tiempo y simplifica tu gestión con nuestro plan gratuito.
        </p>
        <button
          class="h-9 w-full bg-neutral-600 rounded-lg my-4 text-sm font-semibold text-neutral-200 hover:bg-neutral-500 transition-all duration-200 cursor-pointer active:scale-[0.98]"
        >
          Iniciar Sesión
        </button>
        <div class="bg-zinc-300 px-4 py-3 mt-2 rounded-xl">
          <p class="text-sm text-neutral-600 font-semibold">
            El plan gratuito incluye
          </p>
          <ul class="mt-2 text-neutral-600 text-sm">
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-neutral-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium">Hasta 3 proyectos</span>
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-neutral-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Acceso limitado de 15 usos del escáner QR por dia</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-neutral-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Conección de 1 dispositivo para el escáner</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-neutral-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Personalización y soporte básico</span
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Plan Profesional -->
      <div
        class="relative w-full bg-gradient-to-t from-emerald-500 to-emerald-800 border-2 border-emerald-500 p-6 rounded-2xl flex flex-col"
      >
        <h3 class="text-neutral-300 text-sm font-medium mb-4">Profesional</h3>
        <span
          class="absolute top-4 right-4 pl-2 pr-3 py-1 bg-amber-400 text-emerald-800 font-bold rounded-lg text-sm flex items-center gap-1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M12.832 21.801c3.126-.626 7.168-2.875 7.168-8.69c0-5.291-3.873-8.815-6.658-10.434c-.619-.36-1.342.113-1.342.828v1.828c0 1.442-.606 4.074-2.29 5.169c-.86.559-1.79-.278-1.894-1.298l-.086-.838c-.1-.974-1.092-1.565-1.87-.971C4.461 8.46 3 10.33 3 13.11C3 20.221 8.289 22 10.933 22q.232 0 .484-.015c.446-.056 0 .099 1.415-.185"
              opacity="0.5"></path><path
              fill="currentColor"
              d="M8 18.444c0 2.62 2.111 3.43 3.417 3.542c.446-.056 0 .099 1.415-.185C13.871 21.434 15 20.492 15 18.444c0-1.297-.819-2.098-1.46-2.473c-.196-.115-.424.03-.441.256c-.056.718-.746 1.29-1.215.744c-.415-.482-.59-1.187-.59-1.638v-.59c0-.354-.357-.59-.663-.408C9.495 15.008 8 16.395 8 18.445"
            ></path></svg
          >
          Popular
        </span>
        <div class="flex items-end text-white gap-1">
          <div class="flex text-5xl font-semibold">
            $
            <p
              class="count count-9 flex flex-col h-12 overflow-hidden [mask-image:linear-gradient(0deg,transparent,white_15%,white_85%,transparent)]"
            >
              <span>0</span>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>0</span>
            </p>
          </div>
          <div class="flex font-semibold text-sm pb-1">
            .
            <p
              class="count count-9 flex flex-col h-4 overflow-hidden [mask-image:linear-gradient(0deg,transparent,white_10%,white_90%,transparent)]"
            >
              <span>0</span>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>0</span>
            </p>
            <p
              class="count count-9 flex flex-col h-4 overflow-hidden [mask-image:linear-gradient(0deg,transparent,white_15%,white_85%,transparent)]"
            >
              <span>0</span>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>0</span>
            </p>
            /mes
          </div>
        </div>
        <p class="text-neutral-300 text-sm font-semibold mt-2">
          Accede a funciones avanzadas y mejora tu productividad
        </p>
        <button
          class="h-9 w-full bg-neutral-200 rounded-lg my-4 text-sm font-semibold text-neutral-800 hover:bg-neutral-300 transition-all duration-200 cursor-pointer active:scale-[0.98]"
        >
          Obtener Plan
        </button>
        <div class="grow bg-neutral-200 px-4 py-3 mt-2 rounded-xl">
          <p class="text-sm text-neutral-700 font-semibold">
            El plan profesional incluye
          </p>
          <ul class="mt-2 text-neutral-600 text-sm">
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium">Proyectos ilimitados</span>
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Acceso ilimitado del escáner QR</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Conección de varios dispositivos para el escáner</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Personalización y soporte avanzado</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Acceso a funciones avanzadas e informes detallados</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Oportunidades para probar nuevas funciones</span
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Plan Empresarial -->
      <div class="w-full h-[470px] p-6 rounded-2xl">
        <h3 class="text-emerald-500 text-sm font-semibold mb-4">Empresarial</h3>
        <div class="flex items-end text-neutral-800 gap-1">
          <div class="flex text-5xl font-semibold">
            $
            <p
              class="count count-4 flex flex-col h-12 overflow-hidden [mask-image:linear-gradient(0deg,transparent,white_15%,white_85%,transparent)]"
            >
              <span>0</span>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>0</span>
            </p>
            <p
              class="count count-9 flex flex-col h-12 overflow-hidden [mask-image:linear-gradient(0deg,transparent,white_15%,white_85%,transparent)]"
            >
              <span>0</span>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>0</span>
            </p>
            <!-- <p
              class="count count-9 flex flex-col h-12 overflow-hidden [mask-image:linear-gradient(0deg,transparent,white_15%,white_85%,transparent)]"
            >
              <span>0</span>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>0</span>
            </p> -->
          </div>
          <div class="flex font-semibold text-sm pb-1">
            .
            <p
              class="count count-9 flex flex-col h-4 overflow-hidden [mask-image:linear-gradient(0deg,transparent,white_10%,white_90%,transparent)]"
            >
              <span>0</span>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>0</span>
            </p>
            <p
              class="count count-9 flex flex-col h-4 overflow-hidden [mask-image:linear-gradient(0deg,transparent,white_15%,white_85%,transparent)]"
            >
              <span>0</span>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>0</span>
            </p>
            /mes
          </div>
        </div>
        <p class="text-neutral-600 font-semibold text-sm mt-2">
          Potencia tu gestión empresarial con nuestro plan premium.
        </p>
        <button
          class="h-9 w-full bg-gradient-to-t from-emerald-700 to-emerald-400 rounded-lg my-4 text-sm font-semibold text-neutral-200 hover:bg-neutral-500 transition-all duration-200 cursor-pointer active:scale-[0.98]"
        >
          Obtener plan
        </button>
        <div class="bg-zinc-300 px-4 py-3 mt-2 rounded-xl">
          <p class="text-sm text-neutral-600 font-semibold">
            El plan empresarial incluye
          </p>
          <ul class="mt-2 text-neutral-600 text-sm">
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Todo lo que está incluido en la versión Profesional</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Protección de datos con cifrado</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Gestiona de forma centralizada a los miembros, el acceso y la
                facturación</span
              >
            </li>
            <li class="flex gap-1.5 mb-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 min-w-4 mt-[1px] text-emerald-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293"
                ></path>
              </svg>
              <span class="text-sm font-medium"
                >Accede y colabora en proyectos compartidos</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <script>
  import plans from "../content/pricing.json";

  document.addEventListener("DOMContentLoaded", () => {
    const toggleButtons = document.querySelectorAll('input[name="billingPeriod"]');
    const priceElements = document.querySelectorAll(".plan-price");
    const periodElements = document.querySelectorAll(".billing-period");

    toggleButtons.forEach((button) => {
      button.addEventListener("change", (event) => {
        const selectedPeriod = (event.target as HTMLInputElement).value;

        plans.forEach((plan, index) => {
          if (plan.price) {
            priceElements[index].textContent = plan.price[selectedPeriod as "mensual" | "anual"];
          periodElements[index].textContent = selectedPeriod === "mensual" ? "mes" : "año";
          }
        });
      });
    });
  });

</script> -->

<script>
  import { animate } from "animejs";

  animate(".count-4 span", {
    translateY: ["0%", "-400%"],
    duration: 1000,
  });

  animate(".count-9 span", {
    y: "-900%",
    ease: "outExpo",
    duration: 1000,
    delay: (el, i) => i * 10,
  });
</script>

<style>
  .count span {
    text-align: center;
  }
</style>
